{% block sw_order_detail_base_general_info_summary_sub_description %}
    <div class="sw-order-general-info__summary-sub-description">
        {{ $tc('sw-order.generalTab.info.summary.on') }}
        {% if dateFilter is defined %}
            {{ dateFilter(order.orderDateTime, {
                hour: '2-digit',
                minute: '2-digit',
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            }) }}
        {% else %}
            {{ order.orderDateTime | date({
                hour: '2-digit',
                minute: '2-digit',
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            }) }}
        {% endif %}

        {{ $tc('sw-order.generalTab.info.summary.with') }}

        <template v-if="getPaymentName">
            <dd>{{ getPaymentName }}</dd>
        </template>
        <template v-else>
            {{ order.transactions.last().paymentMethod.translated.distinguishableName }}
        </template>

        <template v-if="getShippingName">
            <dt>{{ $tc('sw-order.detailDeliveries.labelShippingMethod') }}</dt>
            <dd>{{ getShippingName }}</dd>
        </template>
        <template v-else>
            <template v-if="order.deliveries.last()">
                {{ $tc('sw-order.generalTab.info.summary.and') }}
                {{ order.deliveries.last().shippingMethod.translated.name }}
            </template>
        </template>

    </div>
{% endblock %}
